[submodule "src/submodules/com/github/ucpComponents/Cerulean-Circle-GmbH/once.ts"]
	path = src/submodules/com/github/ucpComponents/Cerulean-Circle-GmbH/once.ts
	url = git@github.com:Cerulean-Circle-GmbH/once.ts.git
[submodule "src/submodules/com/github/ucpComponents/phibar/test"]
	path = src/submodules/com/github/ucpComponents/phibar/test
	url = git@github.com:phibar/test.git
