[submodule "src/Github/Cerulean-Circle-GmbH/once.ts"]
	path = src/Github/Cerulean-Circle-GmbH/once.ts
	url = git@github.com:Cerulean-Circle-GmbH/once.ts.git
[submodule "src/Github/phibar/test"]
	path = src/Github/phibar/test
	url = git@github.com:phibar/test.git
