[submodule "Components/Github/Cerulean-Circle-GmbH/once.ts"]
	path = Components/Github/Cerulean-Circle-GmbH/once.ts
	url = git@github.com:Cerulean-Circle-GmbH/once.ts.git
[submodule "Components/Github/phibar/test"]
	path = Components/Github/phibar/test
	url = git@github.com:phibar/test.git
